@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500;700&display=swap');
/*https://coolors.co/34403a-285238-138a36-04e824-18ff6d*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    color: #18FF6D;
    background-color: #18FF6D;
    width: 100%;
    min-height: 100vh;
    white-space: nowrap;
}

header {
    display: flex;
    background-image: linear-gradient(72deg,#138A36,#285238,#138A36);
    height: 120px;
    width: 100%;
    color: #18FF6D;
}

header section {
    font-size: 32px;
    width: 100%;
    padding-left: 15px;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

header nav {
    margin: auto;
    font-size: 20px;
    padding-right: 100px;
}

header nav a {
    color: #18FF6D;
}

header nav a:hover {
    color: #1eaf53;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

#handle-box {
    text-align: center;
    color: black;
    font-size: 20px;
}

hr {
    position:fixed;
    width: 28%;
    margin-bottom: 10px;
}

#handle-box i {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.enlargeLogo {
    animation-name: enlargeLogo;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.shrinkLogo {
    animation-name: enlargeLogo;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes enlargeLogo {
    from {font-size: 40px;}
    to {font-size: 60px;}
}

#handle-box a {
    font-size: 40px;
    color: #285238;
    padding-bottom: 30px;

}

#handle-box a:hover{
    color: #1c3a27;
}

footer {
    background-color: rgba(0,0,0,50%);
    position: relative;
    text-align: center;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}